<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>QUIZ 2 VUE</title>
</head>
<body>
    <div id="app">
        <h3>QUIZ 2 VUE</h3>

        <form @submit.prevent="process()">
            <input 
                v-model="form.name"
                type="textfield"
                class="form-control" 
            >   
            <button class="btn btn-primary" id="buttonP">add</button>
        </form> 

        <ul>
            <li v-for="(user,index) in users" style="margin-bottom: 20px;">
                {{ user.name }} 
                <button type="button" v-on:click="edit(user,index)">edit</button> ||
                <button type="button" v-on:click="deletee(user,index)">delete</button>
            </li>
            <br>
        </ul>

    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuex"></script>
<script>
    const store = new Vuex.Store({
        state: {
            users : [
                {name: 'Ahmad Rizqi'},
                {name: 'Abdullah'},
                {name: 'Joko Santoso'},
            ],
            todos: [
            {
                name: 'Todo 1',
                done: false,
            },
            {
                name: 'Todo 2',
                done: false,
            },
            {
                name: 'Todo 3',
                done: false,
            },  
            ],
        },
        mutations: {

            addUser(state,userName){
                state.users.push({ name:userName })
            }, 
            updateUser(state, arr){
                state.users[arr[1]].name = arr[0]
            },
            deleteUser(state,user){
                let index = state.users.indexOf(user)
                state.users.splice(index,1)
            }

        },
        getters: {

            doneTodos(state){
                return state.todos.filter(function(item){
                    return item.done == true
                })
            },
            pendingTodos(state){
                return state.todos.filter(function(item){
                    return item.done == false
                })
            },
        },
    })

    new Vue({
        el: "#app",
        store,
        data : {
            newUser : '',
            form : {name:''},
            indexUser: ''
        },
        props: ['user'],
        mounted(){
            
        },
        computed: {
            users(){
                return this.$store.state.users
            },
            todos(){
                if(this.status == 'all')
                    return this.$store.state.todos 
                else if(this.status == 'done')
                    return this.$store.getters.doneTodos
                else if(this.status == 'pending')
                    return this.$store.getters.pendingTodos
            },
        },
        methods : {
            addUser() {
                newUser = this.form.name.trim()
                if(newUser){
                    this.$store.commit('addUser',newUser)
                    this.form.name = ""
                }
            },
            editUser(){
                let userNameNew = this.form.name.trim()
                if(userNameNew){
                    let arr = [userNameNew,this.indexUser]
                    this.$store.commit('updateUser',arr)
                    document.getElementById('buttonP').innerHTML = 'add'
                    this.form.name = ""
                }
            },
            process() {
                let buttonText = document.getElementById('buttonP').innerHTML
                if(buttonText == 'add'){
                    this.addUser()
                } else if(buttonText == 'update'){
                    this.editUser()
                }
            },
            edit(user,index){
                this.form.name = user.name
                this.indexUser = index
                document.getElementById('buttonP').innerHTML = 'update'
            },
            deletee(user,index){
                if(confirm("Apakah Anda yakin Menghapus '"+user.name+"' ?")){
                    this.$store.commit('deleteUser',user)
                }
            }
        }
    })
</script>
</body>
</html> 