<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>CRUD Pertanyaan dengan VUE</title>
</head>
<body>
    <div id="app">
        <h3>CRUD Pertanyaan dengan VUE</h3>

        <ul>
            <li v-for="(ask,index) in asks" style="list-style-type:none;">
                <button type="button" v-on:click="plus(ask,index)">+</button><br>
                {{ ask.komen }} || {{ ask.tgl }} || score : {{ ask.skor }}<br>
                <button type="button" v-on:click="minus(ask,index)">-</button><br><br>
            </li>
        </ul>

        <form >
            <textarea 
                v-model="form.newAsk" 
                @keyup.enter="addAsk"
                rows="8"
                cols="50"
            ></textarea>     
        </form> 
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data : {
            newAsk : '',
            asks : [
                { id:1, komen: "Komen 1 Komen 1 Komen 1", tgl: "13-11-2020", skor: 5, plus: false, minus: false},
                { id:2, komen: "Komen 2 Komen 2 Komen 2", tgl: "13-11-2020", skor: 0, plus: false, minus: false},
                { id:3, komen: "Komen 3 Komen 3 Komen 3", tgl: "13-11-2020", skor: 3, plus: false, minus: false},
            ],
            form : {ask:''}
        },
        mounted(){
            
        },
        methods : {
            addAsk() {
                newAsk = this.form.newAsk.trim()
                if(newAsk){
                    this.asks.push({
                        id: 99,
                        komen : newAsk,
                        tgl : "13-11-2020",
                        skor : 0, 
                        plus : false, 
                        minus : false
                    })
                    this.form.newAsk = ""
                }
            },
            minus(ask) {
                if(ask.minus == true){
                    ask.minus = false
                    ask.skor++
                } else {
                    ask.minus = true
                    if(ask.plus == true){
                        ask.plus = false
                        ask.skor--
                    }
                    ask.skor--
                }
            },
            plus(ask) {
                if(ask.plus == true){
                    ask.plus = false
                    ask.skor--
                } else {
                    ask.plus = true
                    if(ask.minus == true){
                        ask.minus = false
                        ask.skor++
                    }
                    ask.skor++
                }
            }
        }
    })
</script>
</body>
</html> 